# App Config
APP_NAME=backend
APP_PORT=3000
APP_MODE=DEV
APP_PREFIX=

# Database setup
MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASS=
MONGO_DB=
MONGO_URI=

# Jwt config
JWT_ACCESS_SECRET=Sign access token secret
JWT_REFRESH_SECRET=Sign refresh token secret
JWT_ACCESS_EXPIRES=30m
JWT_REFRESH_EXPRIES=1d
